
<div id="onque-navbar">
<div class="container-fluid">
   <div class="row row1 myHeadercss">
      <div class="col-sm-6 col-md-4">
         <div class="row">
            <div class="navIcons" ng-click="toggleSideMenu(true)"></div>
            <div class="col-md-4 headerText">
               <span>ONQUE</span>
               <div class="text-right col-sm-3 col-md-3 visible-xs" >LOGIN</div>
               <div class=" searchLocation text-right col-sm-4 col-md-4 pad0 visible-xs"> 
                  <span style="padding-right: 5px;">
                  <img src="assets/images/location.png">
                  </span>
                  <span>CHENNAI</span> 
                  <span style="padding-left: 0.7rem;">
                  <img src="assets/images/downarrow.png">
                  </span>
               </div>
            </div>
            <div style="float:left" class="divider1 hidden-xs" >&nbsp;</div>
            <div class="col-md-7 hidden-xs greenTxt"><span class="freeText textBackground">WANT TO LIST YOUR PRACTICE?</span>
            </div>
         </div>
      </div>
      <div class="onque-navbar-search smallsearch col-md-5 col-sm-3">
         <div class="row" ng-show="onqueheaderConfig.showSearch">
            <input class="onque-navbar-input col-md-10 col-xs-10" type="" placeholder="eg: doctor name, location" name="">
            <button class="onque-navbar-button col-md-2 col-xs-2">
            <img style="width:19px;" src="assets/images/search.png"></img>
            </button>
         </div>
      </div>
      <div class="col-sm-3 col-md-3 rightSide">
         <div class="row">
            <div class=" searchLocation text-right col-sm-4 col-md-4 pad0 hidden-xs"> 
               <span style="padding-right: 5px;">
               <img src="assets/images/location.png">
               </span>
               <span>CHENNAI</span> 
               <span style="padding-left: 0.7rem;">
               <img src="assets/images/downarrow.png">
               </span>
            </div>
            <div class="text-right col-sm-3 col-md-3 hidden-xs" ng-click="loginPopup()">LOGIN</div>
            <div style="float:left" class="text-right divider hidden-xs" >&nbsp;</div>
            <div class="text-right col-sm-3 col-md-3 hidden-sm hidden-xs" >SIGN UP</div>
            </ul>
         </div>
      </div>
   </div>
</div>
</div>