
<div id="onque-navbar">
<div class="container-fluid">
   <div class="row row1 myHeadercss">
      <div class="col-sm-4 col-md-4">
         <div class="row">
            <div class="navIcons" ng-click="toggleSideMenu(true)"></div>
            <div class="col-md-4 col-sm-6 headerText">
               <span ng-click="navigateToHome()">ONQUE</span>
               <div class="text-right col-sm-3 col-md-3 visible-xs" data-toggle="modal" data-target="#myModalHorizontal" >LOGIN</div>
               <div class=" searchLocation text-right col-sm-4 col-md-4 pad0 visible-xs"> 
                  <span style="padding-right: 5px;">
                  <img src="assets/images/location.png">
                  </span>
                  <span>CHENNAI</span> 
                  <span style="padding-left: 0.7rem;">
                  <img src="assets/images/downarrow.png">
                  </span>
               </div>
            </div>
            <div style="float:left" class="divider1 hidden-xs" >&nbsp;</div>
            <div class="col-md-7 hidden-xs greenTxt"><span class="freeText textBackground">TRY FOR FREE</span>
            </div>
         </div>
      </div>
      <div class="onque-navbar-search smallsearch col-md-5 col-sm-4">
         <div class="row" ng-show="onqueheaderConfig.showSearch">
            <input class="onque-navbar-input col-md-10 col-xs-10" type="" placeholder="eg: doctor name, location" name="" ng-model="headerSearchText" ng-keyup="headerSearchKeyDownEvent($event)">
            <button class="onque-navbar-button col-md-2 col-xs-2" ng-click="headerSearchDoctor()">
            <img style="width:19px;" src="assets/images/search.png"></img>
            </button>
         </div>
         <div class="row">
         <div class="headerSearchResults" ng-show="headerSearchSection">
         <div class="media" ng-repeat="doctorList in doctorHeader" ng-click='headerSearchParticularDoctor(doctorList.id)'>
            <div class="media-left">
               <img class="user" ng-src="{{doctorList.doctorId.pic}}">
            </div>
            <div class="media-body">
               <p class="doctorName">
                  <span class="doctorFirstName">{{doctorList.doctorId.parentId.name +' '}}&nbsp;</span>
                  <span class="doctorDetail">( {{doctorList.doctorId.practiceId.name + '  -  ' + doctorList.hospitalId.addressId.area}} )</span>
               </p>
               <p class="doctorDetail">
                  <span class="textOrange">{{doctorList.hospitalId.name}}, </span>
                  <span>{{doctorList.hospitalId.addressId.street1 + ', '+ doctorList.hospitalId.addressId.street2 +', '+ doctorList.hospitalId.addressId.city +' - '+ doctorList.hospitalId.addressId.pincode +' '+ doctorList.hospitalId.addressId.country}}.</span>
               </p>
            </div>
            <hr class="searchlinebottom">
         </div>
      </div>
      </div>
      </div>
      <div class="col-sm-4 col-md-3 rightSide">
         <div class="row">
            <div class=" searchLocation text-right col-sm-5 col-md-4 pad0 hidden-xs"> 
               <span style="padding-right: 5px;">
               <img src="assets/images/location.png">
               </span>
               <span>CHENNAI</span> 
               <span style="padding-left: 0.7rem;">
               <img src="assets/images/downarrow.png">
               </span>
            </div>
            <div class="text-right col-sm-3 col-md-3 hidden-xs loginLink" ng-click="loginPopup()">LOGIN</div>
            <div style="float:left" class="text-right divider hidden-xs" >&nbsp;</div>
            <div class="text-right col-sm-4 col-md-3  hidden-xs signupLink" ng-click="signinPopup()" >SIGN UP</div>
            </ul>
         </div>
      </div>
   </div>
</div>
</div>