<div class="headSpace">
  <onque-header data-onqueheader-config="onqueheaderConfig" header-search-text="headerSearchText"></onque-header>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-md-12 col-sm-12 headTxt" style="margin-top: 12%;">
         <h2 class="homeTitle">Welcome to ON-QUE</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-5 navbarContainer" ng-show="searchInputSection">
         <input class="onque-navbar-input col-md-10 col-xs-10" type="" placeholder="eg: doctor name, location" name="" ng-model="searchText" ng-keyup="searchKeyDownEvent($event)">
         <button class="onque-navbar-button col-md-2 col-xs-2" ng-click="searchDoctor()">
         <img class="searchIcon" src="assets/images/search.png"></img>
         </button>
      </div>
      <div class="col-md-6 col-md-offset-3 col-sm-5 searchResults" ng-show="searchSection">
         <div class="media" ng-repeat="doctorList in doctor" ng-click='searchParticularDoctor(doctorList.id)'>
            <div class="media-left">
               <img class="user" ng-src="{{doctorList.doctorId.pic}}">
            </div>
            <div class="media-body">
               <p class="doctorName">
                  <span class="doctorFirstName">{{doctorList.doctorId.parentId.name +' '}}&nbsp;</span>
                  <span class="doctorDetail">( {{doctorList.doctorId.practiceId.name + '  -  ' + doctorList.hospitalId.addressId.area}} )</span>
               </p>
               <p class="doctorDetail">
                  <span class="textOrange">{{doctorList.hospitalId.name}}, </span>
                  <span>{{doctorList.hospitalId.addressId.street1 + ', '+ doctorList.hospitalId.addressId.street2 +', '+ doctorList.hospitalId.addressId.city +' - '+ doctorList.hospitalId.addressId.pincode +' '+ doctorList.hospitalId.addressId.country}}.</span>
               </p>
            </div>
            <hr class="searchlinebottom">
         </div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <p style="margin-top:50%">h1. Bootstrap heading</p>
</div>
<div id="mySidenav" class="sidenav">
   <div class="container" style="background-color: #2874f0; padding-top: 10px;">
      <span class="sidenav-heading">Home</span>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
   </div>
   <a href="http://clashhacks.in/">Link</a>
   <a href="http://clashhacks.in/">Link</a>
   <a href="http://clashhacks.in/">Link</a>
   <a href="http://clashhacks.in/">Link</a>
</div>