    <div class="row">
    <div class="col-sm-5 section1 trialsection">
      <div class="row">
        
        <p class="pContent">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
      </div>
      <div class="row">
        <p class="bottom-txt-trial">
          Get in Touch with us now & get a<br />
          <strong>15-day FREE trial</strong>
        </p>

      </div>
    </div>
    <div class="col-sm-7 section2">
    <p class="popsLogo">Logo</p>
    <form name="registerform"  class="form-horizontal formStyle" role="form" ng-submit="register(registerform.$valid)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : 
             registerform.name.$invalid && !registerform.name.$pristine }">
            <label for="username" class="formLabel">Name</label>
            <input type="text" name="name" id="name" class="form-control name" ng-model="user.name" required />
           
        </div>
         <div class="form-group">
    <label class="formLabel" for="exampleFormControlSelect1">Select your speciality</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
        <div class="form-group" ng-class="{ 'has-error' : 
             registerform.email.$invalid && !registerform.email.$pristine }">
            <label for="email" class="formLabel">Email Id</label>
            <input type="email" name="email" id="email" class="form-control email" ng-model="user.email" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error' : 
             registerform.phone.$invalid && !registerform.phone.$pristine }">
          <div class="row">
            <div class="col-sm-8">
              <label for="phone" class="formLabel">Mobile #</label>
              <input type="text" name="phone" id="phone" class="form-control number" ng-model="user.phone" required />
            </div>
            <div class="col-sm-4">
              <p class="otpSend">Send OTP</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-5">
            <label for="username" class="formLabel">Enter OTP</label>
            <input type="text" name="number" id="number" class="form-control otp" ng-model="number"/>
            </div>
            <div class="col-sm-7">
            <p class="otpText">Didn't receive OTP? <span class="otpResend">Resend OTP</span></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            
            <div class="col-sm-6">
              <label for="password" class="formLabel">Pincode</label>
              <input type="password" class="form-control pincode"  name="confirm_password" ng-model="confirm_password"  match-password="password" required>
               <p ng-show="registerform.confirm_password.$error.matchPassword && !registerform.confirm_password.$error.required" class="help-block">Confirm password didn't match</p>
            </div>
          </div>
        </div>
        <div class="form-check">
          <div class="row">
            <input type="checkbox" class="form-check-input" ng-model="acceptTerms">
            <label class="form-check-label agreeText" for="exampleCheck1">I read and accept <span class="agreeTerms">terms and conditions</span></label>
          </div>
        </div>             
        <div class="form-actions">
          <div class="row">
             <div class="col-sm-12"> 
                <button type="submit" class="btn btn-primary accountButton" ng-disabled="registerform.$invalid">Create an account</button>
            </div>    
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
             <div class="col-sm-12"> 
                <p class="existingAccount">Already have an account? <span class="popupLoginLink">Login</span></p>
            </div>    
          </div>
        </div>
    </form>    
    </div>
    </div>         
    