<!-- <div class="row-fluid content"> -->
<!--   <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 cardBorder">
   <div class="allign">
      <div class="card">
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-block txtCenter">
            <h4 class="card-title mb0">Card title</h4>
            <p>cardio</p>
             <div class="lineBottom">
                <hr />
              </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
      </div>
   </div>
   </div>
   <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 cardBorder">
   <div class="allign">
      <div class="card">
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-block txtCenter">
            <h4 class="card-title mb0">Card title</h4>
            <p>cardio</p>
             <div class="lineBottom">
                <hr />
              </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
      </div>
   </div>
   </div>
   <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 cardBorder">
   <div class="allign">
      <div class="card">
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-block txtCenter">
            <h4 class="card-title mb0">Card title</h4>
            <p>cardio</p>
              <div class="lineBottom">
                <hr />
              </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
      </div>
   </div>
   </div>
   <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 cardBorder">
   <div class="allign">
      <div class="card">
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-block txtCenter">
            <h4 class="card-title mb0">Card title</h4>
            <p>cardio</p>
              <div class="lineBottom">
                <hr />
              </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
      </div>
   </div>
   </div>
   <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 cardBorder">
   <div class="allign">
      <div class="card">
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-block txtCenter">
            <h4 class="card-title mb0">Card title</h4>
            <p>cardio</p>
             <div class="lineBottom">
                <hr />
              </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         </div>
      </div>
   </div>
   </div> -->
<div class="headSpace">
   <onque-header data-onqueheader-config="onqueheaderConfig"></onque-header>
</div>
<div class="navHeader">
   <ul class="mb2">
      <li><a href="#" class="btn btn-primary btnDept">Psychiatrist</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Dermatelogist</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Cardiologist</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Allergist</a></li>
   </ul>
</div>
<div class="navFilters">
   <ul class="mb1">
      <li>
         <label class="sort">Filter By</label>
      </li>
      <li>
         <label class="checks">Location
         <input type="radio" name="filter" ng-change="filterChange('location')" ng-model="filterValue" value="location">
         <span class="checkmark"></span>
         </label>
      </li>
      <li>
         <label class="checks">Speciality Type
         <input type="radio" name="filter" ng-change="filterChange('speciality')" ng-model="filterValue" value="speciality">
         <span class="checkmark"></span>
         </label>
      </li>
      <li ng-click="resetFilter()"><a class="resetFilter">Reset Filter</a></li>
   </ul>
</div>
<div class="navHeaders" ng-show="showFilterResult">
   <ul>
      <li><a href="#" class="btn btn-primary btnDept">Birmingham</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Woodstock</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Birmingham</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Woodstock</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Birmingham</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Woodstock</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Birmingham</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Woodstock</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
   </ul>
</div>
<div class="search-results">
   <ul>
      <li>  <label>{{doctorListCount}} results</label></li>
      <li><a href="#" class="btn btn-primary btnDept">Psychiatrist<span>x</span></a></li>
      <li><a href="#" class="btn btn-primary btnDept">Dermatelogist<span>x</span></a></li>
      <li><a href="#" class="btn btn-primary btnDept">Cardiologist<span>x</span></a></li>
      <li><a href="#" class="btn btn-primary btnDept">Allergist<span>x</span></a></li>
   </ul>
</div>
<!-- <div class="container-fluid bgWhite"> -->
<div class="container">
<!-- Page Features -->
<div class="row text-center row-eq-height">
   <div class="col-lg-2 col-md-6 mb-4 cardPad" ng-repeat="doctor in searchDoctorList">
      <div class="card cardBorder">
         <span class="liveTxt">LIVE</span>
         <img class="card-img-top appointImg" ng-src="{{doctor.doctorId.pic}}" alt="Card image cap">
         <div class="card-body">
            <h4 class="card-title mb0">{{doctor.doctorId.parentId.name}}</h4>
            <p class="depTxt">{{doctor.doctorId.practiceId.name}}</p>
            <div class="lineBottom">
               <hr />
            </div>
            <p class="card-text">{{doctor.hospitalId.addressId.street1 + ', '+ doctor.hospitalId.addressId.street2 +', '+ doctor.hospitalId.addressId.area + ', '+ doctor.hospitalId.addressId.city}}.</p>
         </div>
         <div class="card-footer">
            <a href="#" class="btn btn-primary btnDates">period</a>
            <a href="#" class="btn btn-primary btnApp">Book Appointment</a>
         </div>
      </div>
   </div>
</div>
<!-- /.row -->
<div class="row text-center row-eq-height">
   <div class="col-lg-2 col-md-6 mb-4 cardPad">
      <div class="card cardBorder">
         <span class="liveTxt">LIVE</span>
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-body">
            <h4 class="card-title mb0">Card title</h4>
            <p class="depTxt">cardio</p>
            <div class="lineBottom">
               <hr />
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit.</p>
         </div>
         <div class="card-footer">
            <a href="#" class="btn btn-primary btnDates">Find Out More!</a>
            <a href="#" class="btn btn-primary btnApp">Book Appointment</a>
         </div>
      </div>
   </div>
   <div class="col-lg-2 col-md-6 mb-4 cardPad">
      <div class="card cardBorder">
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-body">
            <h4 class="card-title mb0">Card title</h4>
            <p class="depTxt">cardio</p>
            <div class="lineBottom">
               <hr />
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit.</p>
         </div>
         <div class="card-footer">
            <a href="#" class="btn btn-primary btnDates">Find Out More!</a>
            <a href="#" class="btn btn-primary btnApp">Book Appointment</a>
         </div>
      </div>
   </div>
   <div class="col-lg-2 col-md-6 mb-4 cardPad">
      <div class="card cardBorder">
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-body">
            <h4 class="card-title mb0">Card title</h4>
            <p class="depTxt">cardio</p>
            <div class="lineBottom">
               <hr />
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit.</p>
         </div>
         <div class="card-footer">
            <a href="#" class="btn btn-primary btnDates">Find Out More!</a>
            <a href="#" class="btn btn-primary btnApp">Book Appointment</a>
         </div>
      </div>
   </div>
   <div class="col-lg-2 col-md-6 mb-4 cardPad">
      <div class="card cardBorder">
         <span class="liveTxt">LIVE</span>
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-body">
            <h4 class="card-title mb0">Card title</h4>
            <p class="depTxt">cardio</p>
            <div class="lineBottom">
               <hr />
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit.</p>
         </div>
         <div class="card-footer">
            <a href="#" class="btn btn-primary btnDates">Find Out More!</a>
            <a href="#" class="btn btn-primary btnApp">Book Appointment</a>
         </div>
      </div>
   </div>
   <div class="col-lg-2 col-md-6 mb-4 cardPad">
      <div class="card cardBorder">
         <span class="liveTxt">LIVE</span>
         <img class="card-img-top appointImg" src="https://lorempixel.com/100/100/sports/2/" alt="Card image cap">
         <div class="card-body">
            <h4 class="card-title mb0">Card title</h4>
            <p class="depTxt">cardio</p>
            <div class="lineBottom">
               <hr />
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit.</p>
         </div>
         <div class="card-footer">
            <a href="#" class="btn btn-primary btnDates">Find Out More!</a>
            <a href="#" class="btn btn-primary btnApp">Book Appointment</a>
         </div>
      </div>
   </div>
   <div class="showMore">
      <a href="#" class="btn btn-primary">SHOW MORE</a>
   </div>
</div>
<!-- </div> -->