<div class="headSpace">
   <onque-header data-onqueheader-config="onqueheaderConfig" header-search-text="headerSearchText"></onque-header>
</div>
<div class="navHeader">
   <ul class="mb2">
      <li><a href="#" class="btn btn-primary btnDept">Psychiatrist</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Dermatelogist</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Cardiologist</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Allergist</a></li>
   </ul>
</div>
<div class="navFilters">
   <ul class="mb1">
      <li>
         <label class="sort">Filter By</label>
      </li>
      <li>
         <label class="checks">Location
         <input type="radio" name="filter" ng-change="filterChange('location')" ng-model="filterValue" value="location">
         <span class="checkmark"></span>
         </label>
      </li>
      <li>
         <label class="checks">Speciality Type
         <input type="radio" name="filter" ng-change="filterChange('speciality')" ng-model="filterValue" value="speciality">
         <span class="checkmark"></span>
         </label>
      </li>
      <li ng-click="resetFilter()"><a class="resetFilter">Reset Filter</a></li>
   </ul>
</div>
<div class="navHeaders" ng-show="showFilterResult">
   <ul>
      <li><a href="#" class="btn btn-primary btnDept">Birmingham</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Woodstock</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Birmingham</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Woodstock</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Birmingham</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Woodstock</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Birmingham</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Woodstock</a></li>
      <li><a href="#" class="btn btn-primary btnDept">Arkansas</a></li>
      <li><a href="#" class="btn btn-primary btnDept">England</a></li>
   </ul>
</div>
<div class="search-results">
   <ul>
      <li>  <label>{{doctorListCount}} results</label></li>
      <li><a href="#" class="btn btn-primary btnDept">Psychiatrist<span>x</span></a></li>
      <li><a href="#" class="btn btn-primary btnDept">Dermatelogist<span>x</span></a></li>
      <li><a href="#" class="btn btn-primary btnDept">Cardiologist<span>x</span></a></li>
      <li><a href="#" class="btn btn-primary btnDept">Allergist<span>x</span></a></li>
   </ul>
</div>
<!-- <div class="container-fluid bgWhite"> -->
<div class="container">
<!-- Page Features -->
<div class="row text-center row-eq-height" ng-if="searchDoctorList">
    <div class="flip">
    <div class="col-lg-2 col-md-6 mb-4 cardPad" ng-repeat="doctor in searchDoctorList" ng-click="isFlipped = !isFlipped" ng-class="{'flipped':isFlipped}">
      <div class="card cardBorder cardFront">
         <span class="liveTxt">LIVE</span>
         <img class="card-img-top appointImg" ng-src="{{doctor.doctorId.pic}}" alt="Card image cap">
         <div class="card-body">
            <h4 class="card-title mb0">{{doctor.doctorId.parentId.name}}</h4>
            <p class="depTxt">{{doctor.doctorId.practiceId.name}}</p>
            <div class="lineBottom">
               <hr />
            </div>
            <p class="card-text">{{doctor.hospitalId.addressId.street1 + ', '+ doctor.hospitalId.addressId.street2 +', '+ doctor.hospitalId.addressId.area + ', '+ doctor.hospitalId.addressId.city}}.</p>
         </div>
         <div class="card-footer">
          <p class="input-group hackyhack">
             <input type="text" class="form-control inputRenderDate" ng-click="datePopup($event, $index)" uib-datepicker-popup="{{format}}" ng-model="employee.probation_end_date" is-open="$parent.opened[$index]" datepicker-options="dateOptions" ng-required="false" close-text="Close"/>
            <span class="input-group-btn">
               <button type="button" class="btn btn-default">
                  <i class="glyphicon glyphicon-calendar"></i></button>
            </span>
         </p>
            <a class="btn btn-primary btnApp" ng-click="bookAppointmentPopup()">Book Appointment</a>
         </div>
         <div class="col-md-12">
            <div class="col-md-6 dateCalender"></div>
            <div class="col-md-6 timePicker"></div>
         </div>
      </div>
      <div class="card cardBorder green cardBack">
         <span class="liveTxt green">LIVE FEED</span>
         <h2>Dr John Peterson</h2>
         <div class="card-img-top appointImg green" alt="Card image cap">
            <ul>
            <li class="colorGreen">CURRENT TOKEN</li>
            <li class="colorGreen fontBold">127</li>
            <li class="colorgrey">@04.23pm</li>
         </ul>
        </div>
         <div class="card-body green">
            <h4 class="card-title mb0 green colorWhite">Available Tokens : 6</h4>
            <p class="depTxt colorLitegreen">Next Token #154 [@ 07.30 PM]</p>
          
           <div class="background-grey">
            <p class="card-text green colorWhite">Doctor Delay for 10 mins</p> 
         </div>
         </div>
        
         <div class="card-footer green">
            <a class="colorBlack">Last updated at 06.30pm</a>
            <a class="btn btn-primary btnApp backgroundWhite colorGreen" ng-click="isFlipped = isFlipped">Back to Doctor</a>
         </div>
      </div>
   </div>
</div>
</div>
<div class="row text-center row-eq-height" ng-if="doctorDetails">
<div class="flip">
   <div class="col-lg-2 col-md-6 mb-4 cardPad" ng-click="isFlipped = !isFlipped" ng-class="{'flipped':isFlipped}">
      <div class="card cardBorder cardFront">
         <span class="liveTxt">LIVE</span>
         <img class="card-img-top appointImg" ng-src="{{doctorDetails.doctorId.pic}}" alt="Card image cap">
         <div class="card-body">
            <h4 class="card-title mb0">{{doctorDetails.doctorId.parentId.name}}</h4>
            <p class="depTxt">{{doctorDetails.doctorId.practiceId.name}}</p>
            <div class="lineBottom">
               <hr />
            </div>
            <p class="card-text">{{doctorDetails.hospitalId.addressId.street1 + ', '+ doctorDetails.hospitalId.addressId.street2 +', '+ doctorDetails.hospitalId.addressId.area + ', '+ doctorDetails.hospitalId.addressId.city}}.</p>
         </div>
         <div class="card-footer">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="datePopup($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            <a href="#" class="btn btn-primary btnApp">Book Appointment</a>
         </div>
      </div>
      <div class="card cardBorder green cardBack">
         <span class="liveTxt green">LIVE FEED</span>
         <h2>Dr John Peterson</h2>
         <div class="card-img-top appointImg green" alt="Card image cap">
            <ul>
            <li class="colorGreen">CURRENT TOKEN</li>
            <li class="colorGreen fontBold">127</li>
            <li class="colorgrey">@04.23pm</li>
         </ul>
        </div>
         <div class="card-body green">
            <h4 class="card-title mb0 green colorWhite">Available Tokens : 6</h4>
            <p class="depTxt colorLitegreen">Next Token #154 [@ 07.30 PM]</p>
          
           <div class="background-grey">
            <p class="card-text green colorWhite">Doctor Delay for 10 mins</p> 
         </div>
         </div>
        
         <div class="card-footer green">
            <a class="colorBlack">Last updated at 06.30pm</a>
            <a class="btn btn-primary btnApp backgroundWhite colorGreen" ng-click="isFlipped = isFlipped">Back to Doctor</a>
         </div>
      </div>
   </div>
</div>
</div>
<div class="row text-center row-eq-height">
   <div class="showMore">
      <a href="#" class="btn btn-primary">SHOW MORE</a>
   </div>
</div>
