    <div class="row">
    <div class="col-md-4 section1"></div>
    <div class="col-md-8 section2">
    <form name="form"  class="form-horizontal formStyle" role="form">
        <div class="form-group">
            <label for="username" class="formLabel">Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required />
        </div>
        <div class="form-group">
            <label for="email" class="formLabel">Email Id</label>
            <input type="email" name="email" id="Text1" class="form-control" ng-model="user.email" required />
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-9">
              <label for="username" class="formLabel">Mobile #</label>
              <input type="number" name="mobile" id="mobile" class="form-control" ng-model="user.mobile" required />
            </div>
            <div class="col-md-3">
              <p class="otpSend">Send OTP</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
            <label for="username" class="formLabel">Enter OTP</label>
            <input type="number" name="number" id="number" class="form-control" ng-model="user.number" required />
            </div>
            <div class="col-md-6">
            <p class="otpText">Didn't receive OTP? <span class="otpResend">Resend OTP</span></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="password" class="formLabel">Password</label>
              <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
            </div>
            <div class="col-md-6">
              <label for="password" class="formLabel">Confirm Password</label>
              <input type="password" name="cpassword" id="cpassword" class="form-control" ng-model="user.cpassword" required />
            </div>
          </div>
        </div>
        <div class="form-check">
          <div class="row">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label agreeText" for="exampleCheck1">I read and accept <span class="agreeTerms">terms and conditions</span></label>
          </div>
        </div>             
        <div class="form-actions">
          <div class="row">
             <div class="col-md-8 col-md-offset-3"> 
                <button type="submit" class="btn btn-primary accountButton">Create an account</button>
            </div>    
          </div>
        </div>
    </form>    
    </div>
    </div>         
    


