.appointImg{
     border-radius: 50%;
     margin: 0 auto;
     display: block;
     border: 1px solid #b7b7b7;
     width: 50%;
     height: 12rem;
}
 .bgWhite{
     background-color: #fff;
}
 .txtCenter{
     text-align: center;
}
 .mb0{
     margin-bottom: 0 !important;
     font-weight: bold;
}
.mb1{
    position: relative;
    top: 5px;
    margin-bottom: 0 !important;
    padding-left: 10px;
}
.mb2{
	padding-left: 20px;
}
 a.resetFilter{
 	cursor:pointer;
 }
 .lineBottom{
     padding: 0 40px;
}

.flip {
  -webkit-perspective: 800;
    position: relative;
}

.flip .cardPad.flipped {
  -webkit-transform: rotatex(-180deg);
}

.flip .cardPad {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.flip .cardPad .cardFront {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 235px !important;
}

.flip .cardPad .card {
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}

.flip .cardPad .cardBack {
  -webkit-transform: rotatex(-180deg);
    cursor: pointer;
    height: 381px;
}

 .cardBorder{
     box-shadow: 0px 0px 5px 0px rgba(178, 162, 162, 0.75);
     -moz-box-shadow: 0px 0px 5px 0px rgba(178, 162, 162, 0.75);
     -webkit-box-shadow: 0px 0px 5px 0px rgba(178, 162, 162, 0.75);
     border-radius: 3px;
}
 .card{
     background-color: #fff;
     padding: 10% 0;
}

.cardPad{
     padding: 0 5.5px;
     margin:15px 0;
     width: 245px;
}
.card-title{
     color: #403f3f;
     font-size: 18px;
}
 .card-title p{
     color: #a2a1a1;
}
 .card-text {
     color: #717772;
     font-size: 15px;
}
 .card.cardBorder:hover {
     border: 1px solid #2cc048;
}
 .card-footer .btn-primary.btnDates{
     color: #fff;
     background-color: #717772 !important;
     border-color: #717772 !important;
     margin-bottom: 7px;
}
 .card-body {
     padding: 0 10%;
}
 .btn{
     width: 80%;
}
 .btn-primary.btnApp{
     color: #fff;
     background-color: #2cc048;
     border-color: #2cc048;
     font-size: 15px;
     font-weight: bold;
}
 .lineBottom hr{
     margin-top: 0;
     margin-bottom: 10px;
}
 .card .liveTxt{
     position: absolute;
     right: 20px;
     top: 10px;
     background-color: #ef9904;
     color: #ffffff;
     padding: 1px 6px;
     border-radius: 18%;
     font-size: 1rem;
}
 .card-body .depTxt {
     color: #a2a1a1;
     font-size: 15px;
}
 .navHeader ul li, .navHeaders ul li {
     display: inline-block;
     margin-right: 1%;
     background:transparent;
}
 .navHeader ul li a {
     width: 100%;
     border: 1px solid #606162;
     border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
     color: #606162;
     background-color: transparent;
     padding: 2px 25px;
}
 .navHeaders ul li a {
     color: #ccc;
     width: 9vw;
     border: 1px solid #ccc;
     border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
     background-color: transparent;
     padding: 2px 25px;
}
 .navHeader ul li a:hover {
     background-color: #2cc048;
     border: 1px solid #2cc048;
}
 .navHeaders ul {
     padding-left: 4%;
}
 .navHeaders ul li a:hover {
     background-color: #fff;
     border: 1px solid #fff;
     color: #414042;
}
 .navHeader{
     background: #fff;
     padding: 1% 0;
}
 .navHeaders{
     background: #3e4a58;
     padding: 1% 0;
     z-index: 999;
     position: absolute;
     width: 100%;
     opacity: 0.9;
}
 .navHeaders ul li{
     padding-bottom: 15px;
}
 .navHeader ul{
     margin-bottom: 0;
}
 .navFilters{
     width: 100%;
     display: block;
     background-color: #172635;
     min-height: 50px;
}
 .navFilters ul li {
     display: inline-block;
     padding: 12.5px 10px;
}
 .navFilters ul li .sort, .navFilters ul li a {
     color: #8c8e8d;
     text-decoration: none;
     font-weight: 100;
}
 .navFilters ul li input{
     color:#414042;
}
 .search-results ul li {
     display: inline-block;
     margin-right: 1%;
     background:transparent;
}
 .search-results ul li a {
     width: 100%;
     border: 1px solid #606162;
     border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
     color: #606162;
     background-color: transparent;
     padding: 2px 25px;
}
 .search-results ul li a {
     color: #ccc;
     width: 100%;
     border: 1px solid #ccc;
     border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
     background-color: transparent;
     padding: 2px 25px 2px 10px;
     position: relative;
}
 .search-results ul li a:hover {
     color:#ccc;
     background-color: #fff;
     border:1px solid #ccc;
}
 .search-results ul li span{
     color: #ccc;
     position: absolute;
     right: 8px;
     top: -5px;
     font-size: 20px;
     font-weight: 100;
}
 .search-results ul{
     margin-bottom: 0;
     padding-left: 20px;
}
 .search-results{
     background: #fff;
     padding: 1% 0 0 0;
}
 .search-results ul li label{
     color: grey;
     font-size: 14px;
     font-weight: 600;
    px;
}
/* The container */
 .checks {
     display: block;
     position: relative;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 15px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background: #fff;
     padding: 0 28px;
     border-radius: 5px;
     color: #172635;
}
 .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
     background-color: transparent;
     border-color: #606162;
     color: #606162;
     box-shadow: none;
}
 .btn-primary.focus, .btn-primary:focus{
     color: #606162;
     background-color: transparent;
     border-color: #606162;
}
/* Hide the browser's default checkbox */
 .checks input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
}
/* Create a custom checkbox */
 .checkmark {
     position: absolute;
     top: 3px;
     left: 5px;
     height: 15px;
     width: 15px;
     background-color: #fff;
     border:1px solid;
}
/* On mouse-over, add a grey background color */
 .checks:hover input ~ .checkmark {
     background-color: transparent;
}
/* When the checkbox is checked, add a blue background */
 .checks input:checked ~ .checkmark {
     background-color: #fff;
}
/* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
}
/* Show the checkmark when checked */
 .checks input:checked ~ .checkmark:after {
     display: block;
}
/* Style the checkmark/indicator */
 .checks .checkmark:after {
     left:4px;
     top: 0;
     width: 5px;
     height: 10px;
     border: solid black;
     border-width: 0 2px 2px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
}
 .checks input[type=checkbox], .checks input[type=radio]{
     display: none;
}
 .checks:after {
     content: '';
     width: 0;
     height: 0;
     border-left: 4px solid transparent;
     border-right: 4px solid transparent;
     border-top: 7px solid black;
     position: absolute;
     top: 7px;
     right: 5px;
}
 .showMore{
     clear: both;
}
 .showMore a{
     color: #fff;
     background-color: #d9d5d6 !important;
     border-color: #d9d5d6 !important;
     margin-bottom: 7px;
     width: 9%;
}
.card.cardBorder.green {
    background-color: #2cc048;
position: relative;
}
.liveTxt.green {
    ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    right: 76%;
    border-radius: 0;
    padding: 2px 6px;
    font-size: 1rem;
    width: 28%;
}
.colorGreen{
     color: #2cc048;
}
.card-img-top.appointImg.green {
    background-color: #fff;
    position: relative;
}
.cardBorder.green h2 {
    font-size: 1.7rem;
    margin-top: -20px;
    color: #fff;
    font-weight: 500;
}
.card-img-top.appointImg.green ul{
         padding: 0;
    position: absolute;
    top: 33px;
    left: 10px;
}
.card-img-top.appointImg.green ul li {
    list-style-type: none;
    line-height: 1.1;
   
}
.fontBold{
     font-weight: bold;
}
li.colorGreen.fontBold {
    font-size: 2rem;
}
.colorgrey{
          color: #a2a1a1;
}
.card-body.green {
    margin-top: 10%;
}
.colorWhite{
     color: #fff;
}
.colorBlack{
     color: #172635;
}
.depTxt.colorLitegreen{
     color: #7FFF00;
     font-size: 1.3rem;
}
h4.card-title.mb0.green.colorWhite {
    font-weight: 500;
        font-size: 16.5px;
}    
p.card-text.green.colorWhite {
    margin-bottom: 0;
        font-size: 1.2rem;
}
.background-grey {
    background: #2f4f4f1c;
    padding: 5px 0;
        opacity: 0.9;
     margin-left: -23px;
    margin-right: -23px;
}
.card-footer.green a:first-child {
    text-decoration: none;
}
.card-footer.green a:first-child:hover {
    color: #172635;
}
.card-footer.green .btnApp.backgroundWhite.colorGreen {
    color: #2cc048;
    background-color: #fff;
    font-weight: 500;
    margin-top: 5px;
    padding: 2px; 
}
.card-body.green.sepp{
     position: relative;
}
.backgroundrey{
         position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
}
.sideBar span {
    font-size: 1.2rem;
    font-weight: 500;
}
.sideBar {
    position: absolute;
    right: -27px;
    ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color: #fff;
    padding: 1px 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 49%;
}
.sideHide .sideBar{
background-color: #2cc048;
    right: -23px;
}
.sideHide .sideBar span{
color: #fff;
}
.card.cardBorder.sideHide ul{
     padding-left: 4%;    
     text-align: left;
}
.card.cardBorder.sideHide li{list-style-type:none;padding: 10px 0;
}
.card.cardBorder.sideHide li:before{    content: '\00b7';
    font-size: 70px;
    color: #ccc;
    vertical-align: bottom;
    line-height: 25px;
}
 @media(max-width: 767px){
     .flip .cardPad .cardFront {
         margin: 3px 10px 0px 10px;
    }
    
     .flip .cardPad .cardBack{
         margin: 3px 10px 0px 10px;
     }
    .navHeader{
    	margin-top: 31%;
    }
    .navHeaders ul li a {  
    padding: 4px 74px 5px 14px;
  }
  .navHeader ul li{
    margin: 4px;
}
.mb1{
     padding-left: 10px;
}
.showMore a {
    width: 25%;
}
.navFilters ul li {
    padding: 1px 10px;
}

}
 @media(min-width: 768px) and (max-width: 1024px){
     .cardPad {
         padding: 0 5.5px;
         margin: 30px 1px -10px 0px;
         width: 33%;
         float: left;
    }
    .showMore a {
    margin-top: 20px;
    width: 13%;
}
}
 @media (min-width: 1200px){
     .container {
         width: 100%;
         padding: 0 2.5%;
         background-color: #fff;
    }
}