.uib-button-bar {
    display:none;
}
.uib-datepicker-popup.dropdown-menu{
	top: -242px !important;
    left: -51px !important;
}
.uib-datepicker .uib-title{
	text-align: left;
    padding-left: 18px;
    border:none;
    color: #403f3f;
    font-size: 13px;
}
.btn-arrow{
	border:none;
}
.showweek{
	visibility: hidden;
}