body {
    background-image: url("../images/bg.jpg");
    font-family: "Calibri";
}

.pad0
{
    padding: 0!important;
}
.searchLocation{
    margin-left: 4.5rem;
}
#onque-navbar {
    background-color: transparent;
   
}
.row1{
    padding-top: 2rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 63px;
}

.row3{
    position: fixed;
    top: 50%;
    left: 34%;
    width: 42%;
}
.headerLogo{
    position: absolute;
    top: -0.8rem;
}
.homeTitle{
    font-family: "helvetica" !important;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}
.headerTitleSection{
    margin: 15% 0 0 8%;
}

.freeText{
    font-size: 16px;
    padding-right: 0rem !important;
}
.textBackground {
    width: 219px;
    height: 18px;
    background: #2cc048;
    padding: 0px 6px 1px 6px;
    border-radius: 5px;
}

.onque-navbar-input {
    padding: 4px 15px;
    border-radius: 5px 0 0 5px;
    border: 0 none;
    outline: 0 none;
    font-size: 22px;
    color: #575757;
    width: 90%;
}
.onque-navbar-input::placeholder {
  opacity:0.5;
}
.navbarContainer{
    margin-left: 27%;
    background-color: #4b535b;
    border-radius: 5px;
    margin-top: 2%;
    padding: 0;
    border: 10px solid #4b535b;
    width: 49%;
    min-height: 60px;
}

.mainNav{
    position: absolute;
    top: -15px;
    left: 55px;
}
.locationSection{
    display: inline;
    padding-left: 5px;
    padding-right: 10px;
}
.divider {
    border-right: 2px solid #8c8e8d;
    margin-top: 0.2rem;
    line-height: 1.5rem;
}
.divider1{
    border-right: 2px solid #8c8e8d;
    margin-top: 0.2rem;
    line-height: 2rem;
}

li a {
    color:white;
}
.onque-navbar-search{
    position: relative;
    top: -10px;
}

.onque-navbar-button {
    background-color: #2cc048;
    border: 1px solid #2cc048;
    border-radius: 0 5px 5px 0;
    color: #575757;
    padding: 10px 5px;
    height: 39px;
    cursor: pointer;
    width: 10%;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.headerText{
    font-size: 3.5rem;
    position: relative;
    top: -14px;
}

.menu{
    cursor: pointer;
}
.searchIcon{
    width: 19px;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
   
}
@media (min-width: 768px) and (max-width: 1024px){
    .greenTxt{
        float: left;
        bottom: 20px;
    }
     .headTxt{
            margin-top: 40% !important;
    }
    .headerText{
        float: left;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}


@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}
@media(max-width: 767px){
.searchIcon{
    width: 15px;
}
.onque-navbar-input{
    width: 84%;
}
.onque-navbar-button{
        width: 16%;
}
.navIcons{
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../images/menu.png);
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.navbarContainer{
    margin-left: 5% !important;
    width: 88% !important;
}
.headTxt{
    margin-top: 60% !important;
}
.homeTitle{
    font-size: 3rem;
}
.headerText > span{
    float: left;
}
.text-right{
   font-size: 1.5rem;
    float: right;
    margin: 15px 0 0 0;

}
.myHeadercss{
    background-color: #172636 !important;
}
}

.homeTitle, .headerText, .textBackground, .rightSide{
    color:#fff;
}

