.searchResults{
    background-color: white;
    padding:0;
    margin-left: 27.5%;
    width: 48%;
}
.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.imgPosition{
    margin-top: -8px;
    margin-bottom: 5px;
}
.doctorName{
    display: table-cell;
    vertical-align: middle;
}
.txtMiddle{
    display: table;
}
p.doctorDetail{
    font-size: 14px;
}
span.doctorDetail{
    font-size: 14px;
}
.doctorFirstName{
    font-size: 22px;
    color: #2e2f2e;
}
.media-body, .media-left, .media-right{
    vertical-align: middle;
}
.doctorDetail .textOrange{
    color: #E8b005;
}
.searchResults hr{
    margin: 0;
}

.searchResults{
    height: 200px;
    overflow-y: scroll;
}
.searchResults::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
.searchResults::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.searchResults::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
      background:rgba(128,128,128,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.searchResults::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(128,128,128,0.4);
}
.media:hover, .media .media-body:hover{
    background-color: #2cc048;
    color: #fff;
    
}
.media{
    margin: 0;
    padding: 1% 2% 0% 2%;
    margin: 0;
}
.media:hover .searchlinebottom{
    position: relative;
    top: 1px;
}

hr.searchlinebottom{
    margin-top: 0;
    margin-bottom: 0px;
}

@media(max-width: 767px){
    .searchResults{
    margin-left: 8%;
    width: 82%;
    }
}
.media:hover .textOrange{
    color:#fff;
}