.ngdialog.ngdialog-theme-default.dialog-signup .ngdialog-content{
    width: 660px !important;
    margin: 0 auto !important;
    padding: 0 !important;
    top:-96px !important;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ngdialog.ngdialog-theme-default.dialog-login .ngdialog-content{
    width: 660px !important;
    margin: 0 auto !important;
    padding: 0 !important;
    top:-96px !important;
    height: 500px;
}
.appointmentHeader{
    padding-top: 15px;
    font-family: calibri;
    font-size: 22px;
    color: #1AAe36;
    letter-spacing: 0.55px;
}
.btn-group-actions{
    display: inline-flex;
    float: right;
    margin-top: 20px;
}
.btn-confirm, .btn-confirm:hover, .btn-confirm:active, .btn-confirm:focus{
    cursor:pointer;
    color: #ffffff;
    font-family: calibri;
    font-size: 22px;
    border: 1px solid #2cc048 !important;
    background-color: #2cc048 !important;
    letter-spacing: 0.55px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-cancel, .btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus{
    cursor:pointer;
    color: #676767;
    font-family: calibri;
    font-size: 18px;
    border: 1px solid #ffffff !important;
    background-color: #ffffff !important;
    letter-spacing: 0.45px;
    padding-left: 40px;
    padding-right: 40px;
}
.section1{
	background-color: #2cc048;
	min-height:681px;
    padding: 40px;
}
.section2{
	background-color: white;
	min-height:600px;
}
.section1.bookappointmentsection{
    min-height: 600px !important;
}
.section2.bookappointmentsection{
    padding-right: 15px;
}
.loginsection1{
    background-color: #FFFFFF;
    min-height:500px;
}
.loginsection2{
    background-color: #FFFFFF;
    min-height:500px;
}
.formStyle{
	padding:20px;
}
.formLabel{
	font-family: calibri;
	font-size:14px;
	color:#8B8989;
	letter-spacing:0.35px;
    font-weight:normal;
}
.otpText{
	font-size: 12px;
    font-weight: bold;
    font-family: calibri;
    color: #424141;

    padding-top: 30px;
}
.otpResend{
	color: #028BF3;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: underline;
}
.otpSend{
	color: #028BF3; 
    cursor: pointer;
    font-family: calibri;
    letter-spacing: 0.43px;
    padding-top: 30px;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 600;
}
.agreeText{
	color: #666666;
    font-family: calibri;
    font-size: 17px;
    font-weight: normal;
    padding-left: 10px;
}
.agreeTerms{
	color: #028BF3;
    cursor: pointer;
    text-decoration: underline;
}
.accountButton, .accountButton:hover, .accountButton:focus{
	cursor:pointer;
	margin-top: 15px;
	color: #ffffff;
    font-family: calibri;
    font-size: 22px;
    border: 1px solid #2cc048 !important;
    background-color: #2cc048 !important;
    letter-spacing: 0.55px;
}
.existingAccount{
	font-family: calibri;
    font-size: 17px;
    color: #777977;
    padding-top: 20px;
text-align: center;
    letter-spacing: 0.43px;
}
.popupLoginLink{
	color: #2CC149;
    text-decoration: underline;
    font-weight:bold;
}
.ngdialog-close{
	right: -10px !important;
}
.ngdialog-close:before{
	font-size: 22px !important;
}
.btn[disabled]{
    opacity: 1 !important;
}
.help-block{
    color: red;
    font-size: 14px;
    display: inline;
    font-family: calibri;
}
.pError{
    border-color:1px solid red;
}
.pHeading{
    color: #f2f2f2;
    font-family: calibri;
    font-size: 17.7px;
    letter-spacing: 0.44px;
    font-weight: bold;
}
.pContent{
   color: #f2f2f2;
    font-family: calibri;
    letter-spacing: 0.44px;
    line-height: 1.2;
}
.pForgot{
    font-family: calibri;
    font-size: 17px;
    color: #777977;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 0.43px;
    cursor: pointer;
    margin-bottom: 0;
}
.noAccount{
    font-family: calibri;
    font-size: 17px;
    color: #777977;
    padding-top: 15%;
    text-align: center;
    letter-spacing: 0.43px;
    margin-bottom: 0;
}
.popupSignupLink{
    color: #2CC149;
    text-align: center;
    text-decoration: underline;
    font-weight:bold;
    margin-bottom: 0;
}
.form-group .form-control.name{
   background: url(../images/name.png);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 4.5%;
}
.form-group .form-control.name1{
   background: url(../images/name.png);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 10%;
}
.form-group .form-control.passwords{
   background: url(../images/password.png);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 4.5%;
}
.form-group .form-control.email{
   background: url(../images/mail.png);
    background-repeat: no-repeat;
    background-position: 5px;
    
}
.form-group .form-control.number{
   background: url(../images/mobile.png);
    background-repeat: no-repeat;
    background-position: 5px;
    
}
.form-group .form-control.otp{
   background: url(../images/otp.png);
    background-repeat: no-repeat;
    background-position: 5px;
    
}
.form-group .form-control.password{
   background: url(../images/password.png);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 8%;
}
.form-group .form-control.pincode{
   background: url(../images/pincode.png);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 8%;
}
.form-group .form-control{
    background-color: #d3d3d340 !important;
        padding: 0 30px;
}
.accountButton {
    width: 80%;
    display: block;
    text-align: center;
    margin: 30px auto 0;
}
.accountButton:hover {
    margin: 30px auto 0;
}
/* button.ngdialog-close {
    display: none;
} */
.closeBtn{
    position: absolute;
    right: 7px;
    top: 6px;
}
.loginsection1 img{
    height: 505px;  
}
.popsLogo {
    margin: 7% 0 0;
    font-size: 2.5rem;
    color: #e5e5e5;
    border: 3px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    font-family: Calibri;
    font-weight: 700;
}
.bottom-txt-trial{
       color: #f2f2f2;
    font-family: calibri;
    letter-spacing: 0.44px;
    line-height: 1.2;
    position: absolute;
    bottom: 5%;
    text-align: center;
}
.bottom-txt-trial strong{
        font-size: 2rem;
}
.section1.trialsection{
    min-height: 759px !important;
}
@media(min-width: 768px) and (max-width: 1024px){
    .popsLogo {
    margin: 0;
}
.section2{
    padding-top: 5%;
}
.section1{
        min-height: 690px;
}
.loginsection1 img {
    height: 548px;
}
.loginsection2 {
    background-color: #FFFFFF;
    min-height: 500px;
    padding-top: 5%;
    padding-bottom: 5%;
}
}
@media(max-width: 767px){
    .popsLogo {
    margin: 0;
}
.section2{
    padding: 5% 7%;
}
.loginsection2 {
    padding-top: 5%;
    padding-bottom: 5%;
}
}   